image: python:3

stages:
  - linting
  - tests

variables:
  DOCKER_DRIVER: overlay2
  LC_ALL: C.UTF-8
  LANG: C.UTF-8
  TZ: Europe/Paris

before_script:
- ln -snf /usr/share/zoneinfo/${TZ} /etc/localtime && echo ${TZ} > /etc/timezone
- apt-get update
- apt-get install -y $(grep -vE "^\s*#" apt.txt  | tr "\n" " ")
- pip install --upgrade pip
- pip install pipenv
- pipenv install --dev --three

flake8:
  stage: linting
  tags: [shared-ci-docker]
  script:
    - pipenv run flake8 smartimport

tests:
  stage: tests
  variables: 
    PYTHONPATH: .
  tags: [shared-ci-docker]
  script:
    - pipenv run pytest smartimport


#.deploy: &deploy # Deploy template
#  image: ubuntu:bionic
#  stage: deploy
#  tags: [shared-ci-docker]
#  when: manual
#  only: 
#    - master
#  script:
#    - ls
