[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"
cython = "*"
auto-sklearn = "*"
matplotlib = "*"

[dev-packages]
bumpversion = "*"
wheel = "*"
watchdog = "*"
"flake8" = "*"
tox = "*"
coverage = "*"
sphinx = "*"
twine = "*"
pytest = "*"
pytest-runner = "*"
pylint = "*"

[requires]
python_version = "3.6"
