[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"
cython = "*"
matplotlib = "*"
begins = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"

[dev-packages]
tox = "*"
bumpversion = "*"
wheel = "*"
watchdog = "*"
"flake8" = "*"
coverage = "*"
sphinx = "*"
twine = "*"
pytest = "*"
pytest-runner = "*"
pylint = "*"
tox-pipenv = {git = "https://github.com/tox-dev/tox-pipenv.git", editable = true}
#tox-pipenv = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
