#home{
    width:400px;
    margin:auto;
}

h1{
    color:#574460;
}

h3{
    color:#1E8768;
}

.table-responsive{
    height: 80vh;
    max-height: 80vh;
    /*overflow-x: auto;*/
}

#result td{
    max-width: 12em;
    text-overflow: ellipsis;
    overflow-wrap: unset;
    white-space: nowrap;
    overflow: hidden;
}